## How to change data type of a pandas series ?

In [ ]:
import pandas as pd

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

In [ ]:
# checking data types of each series
drinks.dtypes

In [ ]:
# lets say we want to change beer_servings to float
drinks['beer_servings'] = drinks.beer_servings.astype(float)
drinks.dtypes

### defining type of each column before reading the csv

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry', dtype={'beer_servings': 'float'})
drinks.dtypes

### converting data type and then performing mathematical operations

In [ ]:
orders = pd.read_csv('http://bit.ly/chiporders', sep='\t')
orders.dtypes

In [ ]:
orders.item_price.str.replace('$', '').astype(float).mean()

### converting booleans into integers

In [ ]:
orders.item_name.str.contains('Chicken').astype(int)

### convert data type of multiple columns at once

In [ ]:
drinks = drinks.astype({'beer_servings': 'float', 'spirit_servings': 'float'})
drinks.dtypes