## How to select a pandas Series(column) from a DataFrame(table)

In [ ]:
import pandas as pd

In [ ]:
# read_csv has default sep as ','
ufo = pd.read_csv('http://bit.ly/uforeports')

In [ ]:
# getting type of ufo, it is a DataFrame i.e. table
type(ufo)

In [ ]:
# getting top 5 rows
ufo.head()

In [ ]:
# selecting series or column from DataFrame

# bracket notation **It is case sensitive
ufo['City']

# type(ufo['City'])   #this will give series

In [ ]:
# Dot notation
ufo.City

# But dot notation won't work with column names which are space seperated e.g. 'Colors Reported'
# we will have to use bracket notation for that.
# ufo['Colors Reported']

In [ ]:
# Dot notation also won't work for column name which have name similar to built in python method or attribute name
# e.g. 'shape', ufo.shape will print shape of DataFrame

ufo.shape

In [ ]:
# combining two series

ufo.City + ', ' + ufo.State

In [ ]:
# to create a new series in DataFrame which stores the combined value of several series
# Note : Only bracket notation works in this scenario

ufo['Location'] = ufo.City + ', ' + ufo.State

In [ ]:
# printing head with newly series added to DataFrame

ufo.head()